
{% extends "base.html" %}
{% block title %}
New Environment
{% endblock %}

{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <div class="card card-user">
                    <div class="image">
                        <img src="assets/img/background.jpg" alt="..."/>
                    </div>
                    <div class="content">
                        <div class="author">
                          <img class="avatar border-white" src="assets/img/faces/face-2.jpg" alt="..."/>
                          <h4 class="title">Bizmap Team<br />
                             <!-- <a href="#"><small>@chetfaker</small></a> -->
                          </h4>
                        </div>
                        <p class="description text-center">
                            <a>Confluence</a><br>
                            <a>Jira</a><br>
                            <a>Chef</a><br>
                            <a>Github</a><br>
                            <a>Release Plan</a><br>
                        </p>
                    </div>
                    <hr>
                    <div class="text-center">
                        <div class="row">
                            <div class="col-md-3 col-md-offset-1">
                                <h5>4<br /><small>Active</small></h5>
                            </div>
                            <div class="col-md-4">
                                <h5>11<br /><small>Total</small></h5>
                            </div>
                            <div class="col-md-3">
                                <h5>$9462<br /><small>Spent</small></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        <h4 class="title">Contacts</h4>
                    </div>
                    <div class="content">
                        <ul class="list-unstyled team-members">
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                Vandan
                                                <br />
                                                <span class="text-danger"><small>Slack: Offline</small></span>
                                            </div>

                                            <div class="col-xs-3 text-right">
                                                <btn class="btn btn-sm btn-success btn-icon"><i class="fa fa-envelope"></i></btn>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                Dan
                                                <br />
                                                <span class="text-success"><small>Slack: Available</small></span>
                                            </div>

                                            <div class="col-xs-3 text-right">
                                                <btn class="btn btn-sm btn-success btn-icon"><i class="fa fa-envelope"></i></btn>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                George
                                                <br />
                                                <span class="text-muted"><small>Slack: On a call</small></span>
                                            </div>

                                            <div class="col-xs-3 text-right">
                                                <btn class="btn btn-sm btn-success btn-icon"><i class="fa fa-envelope"></i></btn>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Environment Setup</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Env Name</label>
                                        <input type="text" class="form-control border-input"  placeholder="Insert popstar name here...">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Purpose</label>
                                        <input type="text" class="form-control border-input" placeholder="Short description">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Owner</label>
                                        <input type="email" class="form-control border-input" placeholder="Name or email">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Cost Center</label>
                                        <input type="text" class="form-control border-input" disabled placeholder="Last Name" value="Dev">
                                        <!-- <select type="text" class="form-control border-input" placeholder="Last Name" value="Dev"> -->
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Jira</label>
                                        <input type="text" class="form-control border-input" placeholder="Ticket ID or link">
                                        <!-- <select type="text" class="form-control border-input" placeholder="Last Name" value="Dev"> -->
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                              <div class="col-md-4">
                                  <div class="form-group">
                                      <label>Preset Config</label>
                                      <input type="number" class="form-control border-input" placeholder="Current Production">
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="form-group">
                                      <label>Performance</label>
                                      <input type="number" class="form-control border-input" placeholder="Medium">
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="form-group">
                                      <label>Scale</label>
                                      <input type="number" class="form-control border-input" placeholder="Single Servers">
                                  </div>
                              </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Custom config YAML    <a>(help)</a></label>
                                        <textarea rows="5" class="form-control border-input" placeholder="" value="">Servers:
    Consul 3
    RabbitMQ 3
Versions:
    Admin 9.1.0
    Consul 8.4.1
</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-info btn-fill btn-wd">Create</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
{% endblock %}
